{% extends "base.html" %}
{% block content %}

<h2>Edit Task</h2>

<form method="POST">
    <input type="text" name="title" value="{{ task.title }}" required>

    <select name="priority">
        <option {% if task.priority == "High" %}selected{% endif %}>High</option>
        <option {% if task.priority == "Medium" %}selected{% endif %}>Medium</option>
        <option {% if task.priority == "Low" %}selected{% endif %}>Low</option>
    </select>

    <input type="number" name="duration" value="{{ task.duration }}" required>

    <input type="datetime-local"
           name="deadline"
           value="{{ task.deadline.strftime('%Y-%m-%dT%H:%M') }}"
           required>

    <input type="text" name="category" value="{{ task.category }}">

    <button type="submit">Update Task</button>
</form>

<br>
<a href="/dashboard">Back</a>

{% endblock %}